#ahaa {
    margin-top: 120px;
}

.colm-logo {
    flex: 0 0 50%;
    text-align: left;
}

.colm-form {
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 130px;
    text-align: center;

}

.colm-logo img {
    max-width: 400px;
}

.colm-logo h2 {
    font: 26px;
    font-weight: 400;
    padding: 0 30px;
    line-height: 32px;
}

.colm-form .form-container {
    background-color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0 1px 3px black, 0 0px 0px black;
    margin-bottom: 30px;
    padding: 20px;
    max-width: 400px;
}

#borderup {
    border-top: 1px solid grey;
}

#phha1 {
    background-color: red;

}

#phha2 {
    background-color: red;

}

.colm-form .form-container input,
.colm-form .form-container .btn-login {
    width: 100%;
    height: 45px;
    vertical-align: middle;
    font-size: 16px;
}

.colm-form .form-container input {
    border: 1px solid #dddfe2;
    background-color: white;
    color: black;
    outline: none;
    margin-bottom: 10px;
    border-radius: 10px;
}

#sec {

    display: inline-block;
    margin-top: 1rem;
    background: #ff5a5f;
    color: green;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    text-align: center;
    cursor: pointer;
}

.colm-form .form-container input:focus-visible {

    background-color: red;


    box-shadow: 0 0 0 2px red;
}

.colm-form .form-container input:focus {


    box-shadow: 0 0 0 2px red;
}

.colm-form .form-container .btn-login {
    background-color: #ff5a5f;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    padding: 0 16px;
    color: white;
    font-weight: 700;
    cursor: pointer;

}

.colm-form .form-container a {
    display: block;
    color: #ff5a5f;
    font-size: 14px;
    text-decoration: none;
    padding: 10px 0 20px;
    border-bottom: 1px solid white;
}

.colm-form .form-container a:hover {
    text-decoration: underline;
}

.colm-form .form-container .btn-new {
    background-color: #ff5a5f;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    color: white;
    font-weight: 700;
    margin-top: 20px;
    cursor: pointer;
}

.colm-form p {
    font-size: 14px;
}

.colm-form p a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.colm-form p a:hover {
    text-decoration: underline;
}

#a1 {
    margin-top: 50px;
}
#phha1{
    margin: 10px;
}